/* ===================================

    Cores:
    #3D687F - Azul Claro

   =================================== */


@font-face {
    font-family: "AncillaryRegular";
    src: url(../fonts/Ancillary-Regular.otf);
}

@font-face {
    font-family: "AncillaryBold";
    src: url(../fonts/Ancillary-Bold.otf);
}

@font-face {
    font-family: "TypoGroteskThin";
    src: url(../fonts/Typo-Grotesk-Thin.otf);
}

html,
body {
    height: 100%;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
}

h2,
h3 {
    font-family: "AncillaryRegular", Arial, sans-serif;
    color: #3D687F;
    text-transform: uppercase;
}

h2:first-of-type:before {
    content: "+";
    font-family: "TypoGroteskThin", Arial, sans-serif;
    color: rgb(61, 104, 127);
    position: absolute;
    top: -25px;
    left:-20px;
}

h2:after,
h3:after { 
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent; 
    font-size: 3rem;
    position: relative;
    content: "";
}

#home img:first-of-type {
    max-width: 100%;
}

#home img:last-of-type {
    max-width: 25%;
    position: absolute;
    top: 150px;
    left: 10%;
    padding: 60px 25px;
    background-color: rgba(221, 224, 186, 0.7);
}

#about {
    background-color: rgb(221, 224, 186);
}

#about h2 {
    background-color: rgb(197, 198, 165);
    max-width: 268px;
    padding-left: 30px;
    font-size: 3rem;
}

#about h2:after{
    border-top: 60px solid rgb(221, 224, 186); 
    top: 60px;
    left:50px;
}

#about img {
    max-width: 100%;
}

#about p {
    padding-top: 15px;
    color: #3D687F;
}

#theme {
    background-color: #c1bca4;
}

#theme:after {
    content:"";
    background:blue;
    position:fixed;
    top:0;
    bottom:50%;
    right:0;
    left:0;
    content:" ";
    z-index:-1;
}

#theme h2,
#theme h3 {
    background-color: rgb(216, 213, 182);
    max-width: 420px;
    font-size: 2.3rem;
    padding-left: 15px;    
}

#theme h2:after{ 
    border-top: 60px solid #c1bca4; 
    top: 60px;
    left:11px;
}

#theme h2:last-of-type {
    max-width: 283px;
    margin-top: -2px;
}

#theme h2:last-of-type:after{ 
    left:10px;
}

#theme h3 {
    font-size: 1.8rem;
    margin-bottom: 110px;
    line-height: 1.6rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

#theme h3:after {
    border-top: 120px solid #c1bca4; 
    border-left: 55px solid transparent; 
    top: 70px;
    left:15px;
}

#theme p {
    color: #91163C;
}

#theme .col-lg-6 p:nth-child(1) {
    padding-top: 128px;
}

#panels {
    background-color: rgb(91, 138, 182);
}

#panels h2, 
#papers h2,
#deadline h2,
#contact h2 {
    background-color: #c1bca4;
    max-width: 430px;
    font-size: 2.3rem;
    padding-left: 15px;
    margin-bottom: 50px;
}

#panels h2:before {
    color: #FFFFFF;
}

#panels h2:after {
    border-top: 60px solid rgb(91, 138, 182); 
    top: 65px;
    left:28px;
}

.panels-list li,
#papers ol > li  {
    list-style: none;
    counter-increment: panel-counter;
    margin-left: -58px;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
}

.panels-list li:before,
#papers ol > li:before {
    content: counter(panel-counter);
    margin-right: 10px;
    font-weight: 700;
    text-align: center;
    color: rgb(61, 104, 127);
}

.panels-list li:last-child:before {
    margin-left: -8px;
}

#members h2 {
    font-size: 17px
}

#members li {
    list-style: none;
    font-size: 14px;
}

#papers {
    background-color: rgb(216, 213, 182);
}

#papers h2,
#papers h2:before,
#papers li,
#papers p {
    color: rgb(145, 22, 60);
}

#papers h2 {
    max-width: 620px;
}

#papers h2:after {
    border-top: 60px solid rgb(216, 213, 182); 
    top: 65px;
    left:51px;
}

#papers ol > li,
#papers ol > li:before,
#papers ul > li {
    text-transform: none;
    color: rgb(145, 22, 60);
}

#papers ul > li {
    list-style: none;
}

#deadline {
    background-color: #c1bca4;
}

#deadline h2{
    background-color: rgb(221, 224, 186);
    max-width: 203px;
    color: rgb(145, 22, 60);
    margin-bottom: -50px;
}

#deadline h2:before {
    color: #FFFFFF;
}

#deadline h2:after {
    border-top: 60px solid #c1bca4; 
    top: 65px;
    left:15px;
}

#deadline h6 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

#deadline p {
    text-align: center;
    margin-top: 40px;
}

#deadline .col-lg-3:last-child p {
    margin-top: 0;
}

#deadline .col-lg-3 {
    border-top: 4px solid rgb(145, 22, 60);
    background-color: rgb(221, 224, 186);
    height: 200px;
    width: 210px;
    margin-right: 25px;
}

#contact {
    background-color: rgb(114, 6, 50);
}

#contact h2 {
    background-color: rgb(221, 224, 186);
    color: rgb(114, 6, 50);
    max-width: 250px;
}

#contact h2:before {
    color: rgb(221, 224, 186);
}

#contact h2:after {
    border-top: 60px solid rgb(114, 6, 50); 
    top: 65px;
    left:22px;
}

#contact a {
    color: #FFFFFF;
}

.content {
    max-width: 980px;
    padding: 100px 0;
    margin: 0 auto;
}

.footer {
    height: 60px;
    background-color: #1e1e1e;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* ================================================= */
/* ============= Bootstrap overwriting ============= */
/* ================================================= */

.navbar-inverse,
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover {
    background-color: #720632;
    border-color: #720632;
}

.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav li a:hover {
    border-bottom: 1px solid #fff;
}

.navbar-collapse a {
    font-family: "AncillaryRegular", Arial, sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px;
    float: left;  
}

.navbar-brand {
    font-family: "AncillaryRegular", Arial, sans-serif;
}

.navbar-brand:before {
    content: "+";
    font-family: "TypoGroteskThin", Arial, sans-serif;
    color: #FFFFFF;
    position: relative;
    top: -10px;
    left:0;
}

.navbar-brand:before:hover {
    color: #FFFFFF;
}




/* ================================================= */
/* ============= Entre 780px e 980px ============= */
/* ================================================= */

@media screen and (min-width: 1500px) {
    
    .content {
        max-width: 1200px;
    }

}