/* ===================================

    Cores:
    #3D687F - Azul Claro

   =================================== */

@grid-float-breakpoint {
    width: 1300px;
}

@font-face {
    font-family: "AncillaryRegular";
    src: url(../fonts/Ancillary-Regular.otf);
}

@font-face {
    font-family: "AncillaryBold";
    src: url(../fonts/Ancillary-Bold.otf);
}

@font-face {
    font-family: "TypoGroteskThin";
    src: url(../fonts/Typo-Grotesk-Thin.otf);
}

html,
body {
    height: 100%;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
}

footer p {
    text-align: center;
    color: #FFFFFF;
    font-size: 0.9rem;
}

footer a {
    color: rgb(145, 22, 60);
}

footer a:hover {
    color: rgba(145, 22, 60, 0.7);
}


.section-title {
    display: inline-block;
    position: relative;
    height: 60px;
    margin-bottom: 20px;
}

.section-title:before {
    content: '+';
    font-family: "TypoGroteskThin", Arial, sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: -35px;
    left: -20px;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 400;
}

.section-title:after {
    content: '';
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-top: 60px solid #3D687F;
    position: absolute;
    top: 0;
    right: 0;
}

.section-title h2,
.section-title h3 {
    position: absolute;
    top: 30px;
    left: 25px;
    font-family: "AncillaryRegular", Arial, sans-serif;
    color: #3D687F;
    text-transform: uppercase;
    margin-top: -16px;
    margin-bottom: 0;
}

#home {
    position: relative;
}

#home img:first-of-type {
    max-width: 100%;
}

#home-content {
    position: absolute;
    bottom: 15%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);

}

#home-content img:first-child {
    max-width: 31.5%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 60px 25px;
    background-color: rgba(221, 224, 186, 0.7);
}

#home-content .img-logo {
    position: absolute;
    bottom: 0;
    right: -50px;
    max-width: 65%;
}

#about {
    background-color: rgb(221, 224, 186);
}

#about .section-title {
    width: 240px;
    height: 80px;
    background-color: #C5C6A5;
}

#about .section-title:lang(en-US) {
    width: 260px;
}

#about .section-title h2 {
    color: #3D687F;
    font-size: 3rem;
}

#about .section-title:before {
    color: #3D687F;
}

#about .section-title:after {
    border-top: 80px solid #DDE0BA;
}

#about img {
    max-width: 250px;
}

.logo-sase {
    display: block;
    margin: 0 auto;
}

#about p {
    padding-top: 15px;
    color: #3D687F;
}

#theme {
    background-color: #c1bca4;
}

#theme .section-title {
    width: 440px;
    height: 70px;
    background-color: #D8D5B6;
}

#theme .section-title:nth-of-type(2) {
    width: 300px;
    height: 70px;
    margin-top: -20px;
}

#theme .section-title:last-of-type {
    width: 440px;
    height: 100px;
    margin-top: -20px;
}

#theme .section-title:nth-of-type(n+2):nth-of-type(-n+3):before {
    display: none;
}

#theme .section-title:lang(en-US) {
    width: 380px;
}

#theme .section-title:lang(pt-BR) {
    width: 460px;
}

#theme .section-title:nth-of-type(2):lang(en-US) {
    width: 330px;
}

#theme .section-title:nth-of-type(2):lang(pt-BR) {
    width: 300px;
}

#theme .section-title:last-of-type:lang(en-US) {
    width: 440px;
}

#theme .section-title h2 {
    color: #3D687F;
    font-size: 2.3rem;
}

#theme .section-title h3 {
    color: #3D687F;
    font-size: 1.9rem;
    text-transform: uppercase;
}

#theme .section-title:before {
    color: #3D687F;
}

#theme .section-title:after {
    border-top: 70px solid #C1BCA4;
}

#theme .section-title:last-of-type:after {
    border-top: 100px solid #C1BCA4;
    border-left: 35px solid transparent;
}

#theme p {
    color: #91163C;
}

#theme .col-md-6 p:nth-child(1) {
    padding-top: 100px;
}

#panels {
    background-color: rgb(91, 138, 182);
}

#panels .section-title {
    width: 350px;
    background-color: #C1BCA4;
}

#panels .section-title:lang(en-US) {
    width: 190px;
}

#panels .section-title h2 {
    color: #3D687F;
}

#panels .section-title:after {
    border-top-color: #5B8AB6;
}

.panels-list li,
#papers ol > li  {
    list-style: none;
    counter-increment: panel-counter;
    margin-left: -10px;
    padding: 10px 0;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
}

.panels-list li:before,
#papers ol > li:before {
    content: counter(panel-counter);
    position: absolute;
    left: 15px;
    font-weight: 700;
    text-align: center;
    color: rgb(61, 104, 127);
}

.panels-list li:last-child:before {
    margin-left: -8px;
}

#boards {
    background-color: #3D687F;
}

.board-title {
    display: inline-block;
    position: relative;
    width: 220px;
    height: 60px;
    background-color: #c1bca4;
    margin-bottom: 20px;
}

.board-title:before {
    content: '+ Comité';
    font-family: "TypoGroteskThin", Arial, sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: -30px;
    left: 5px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}

.board-title:lang(en-US):before {
    content: '+ Board';
}

.board-title:lang(pt-BR):before {
    content: '+ Comitê';
}

.board-title:after {
    content: '';
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-top: 60px solid #3D687F;
    position: absolute;
    top: 0;
    right: 0;
}

.board-title h2 {
    position: absolute;
    top: 30px;
    left: 20px;
    font-family: "AncillaryRegular", Arial, sans-serif;
    color: #3D687F;
    text-transform: uppercase;
    margin-top: -16px;
    margin-bottom: 0;
}

.administrative {
    width: 270px;
}

.administrative:lang(en-US) {
    width: 310px;
}

.scientific-list,
.administrative-list {
    margin-left: -40px;
}

.scientific-list li,
.administrative-list li{
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    list-style: none;
}

.scientific-list {
    -moz-column-count: 2;
    -moz-column-gap: 60px;
    -webkit-column-count: 2;
    -webkit-column-gap: 60px;
    column-count: 2;
    column-gap: 60px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

#program {
    background-color: rgb(216, 213, 182);
}

#program .section-title {
    width: 230px;
    background-color: #C1BCA4;
}

#program .section-title:lang(en-US) {
    width: 210px;
}

#program .section-title h2,
#program .section-title:before {
    color: #3D687F;
}

#program .section-title:after {
    border-top-color: #D8D5B6;
}

#program h2,
#program h2:before {
    color: rgb(145, 22, 60);
}

#program .col-md-3 {
    position: static;
}

.program-box {
    border: 1px solid #FFFFFF;
    padding: 30px;
    color: #3D687F;
    font-size: 0.9rem;
}

.program-day {
    text-align: center;
    text-transform: uppercase;
    font-family: "AncillaryRegular", Arial, sans-serif;
    font-size: 1.6rem;
}

.program-day:after {
    content: '';
    height: 1px;
    background-color: #FFFFFF;
    display: inherit;
    margin: 20px auto;
}

.program-schedule {
    margin-bottom: 20px;
}

.program-schedule span {
    font-weight: bold;
    margin-left: 15px;
}

.program-schedule:lang(en-US) span {
    font-weight: bold;
    margin-left: 10px;
}

.program-conference {
    line-height: 1rem;
    margin-top: -20px;
}

.program-list {
    line-height: 1rem;
    padding-left: 20px;
    margin-top: -5px;
    margin-bottom: 20px;
}

/*.papers-box {
    position: absolute;
    bottom: 100px;
    right: 0;
    text-align: center;
}

.papers-box p {
    text-transform: uppercase;
    font-family: "AncillaryRegular", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.8rem;
    width: 200px;
    padding: 40px 0;
    background-color: #DDE0BA;

}*/

.fecha-final {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1.9rem;
    font-weight: 700;
    display: inline-block;
    margin-top: 15px;
}

.btn-envio {
    border: 1px solid;
    width: 200px;
    height: 70px;
    margin-top: 20px;
    color: #91163C;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-envio:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #91163C;
    border-color: #91163C;
    color: #FFFFFF;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    transform: translateY(-1px);
}

#deadline {
    background-color: #c1bca4;
}

#deadline .section-title {
    width: 180px;
    background-color: #DDE0BA;
}

#deadline .section-title h2 {
    color: #720632;
}

#deadline .section-title:after {
    border-top-color: #C1BCA4;
}

#deadline .section-title:lang(en-US) {
    width: 230px;
}

#deadline h6 {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

#deadline p {
    text-align: center;
    line-height: 1.1rem;
    margin-top: 40px;
}

#deadline .box {
    border-top: 4px solid rgb(145, 22, 60);
    background-color: rgb(221, 224, 186);
    height: 220px;
    width: 230px;
    padding: 5px 30px;
}

#deadline .col-sm-3:nth-of-type(1) .box {
    border-color: #68869B;
    color: #68869B;
}

#deadline .col-sm-3:nth-of-type(2) .box {
    border-color: #3D687F;
    color: #3D687F;
}

#deadline .col-sm-3:nth-of-type(3) .box {
    border-color: #720632;
    color: #720632;
}

#deadline .col-sm-3:nth-of-type(4) .box {
    border-color: #91163C;
    color: #91163C;
}

#deadline .col-sm-3:nth-of-type(4) .box p {
    margin-top: 30px;
}

#infos {
    background-color: #91163C;
}

#infos .section-title {
    width: 135px;
    background-color: #DDE0BA;
}

#infos .section-title h2 {
    color: #720632;
}

#infos .section-title:before {
    color: #FFFFFF;
}

#infos .section-title:after {
    border-top-color: #91163C;
}

#infos img {
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80px;
    border: 1px solid #FFFFFF;
    box-sizing: initial;
    padding: 40px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;
}

#infos img:hover {
    background-color: #720632;
    border-color: #720632;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.link-title {
    margin-top: 140px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.modal-title {
    border-bottom: 45px solid #d8d5b6;
    width: 250px;
    font-size: 2.3rem;
    padding-left: 15px;
    color: #720632;
}

#poaModal .modal-title {
    width: 370px;
}

.modal-title:before {
    content: "+";
    font-family: "TypoGroteskThin", Arial, sans-serif;
    color: rgb(145, 22, 60);
    position: absolute;
    top: -43px;
    left: -10px;
}

.modal-source {
    font-style: italic;
    color: #d8d5b6;
    margin-top: 10px;
}

.modal-source a {
    color: #d8d5b6;
}

.modal-source a:hover {
    color: #cfcba5;
}

.modal-text h6{
    font-family: "AncillaryBold";
    font-size: 0.9rem;
    text-transform: uppercase;
}

#infoModal .section-title {
    width: 200px;
    margin-bottom: 0;
}

#poaModal .section-title {
    width: 300px;
}

#culturaModal .section-title {
    width: 220px;
}

#hotelModal .section-title {
    width: 200px;
}

#restauranteModal .section-title {
    width: 300px;
}

#mapaModal .section-title {
    width: 330px;
}

#mapaModal .section-title:lang(pt-BR) {
    width: 180px;
}

#mapaModal .section-title:lang(en-US) {
    width: 140px;
}

#infoModal .section-title:after,
#poaModal .section-title:after,
#culturaModal .section-title:after,
#hotelModal .section-title:after,
#restauranteModal .section-title:after,
#mapaModal .section-title:after {
    border-top-color: #C1BCA4;
}

#registration {
    background-color: #720632;
    color: #FFFFFF;
}

#registration .section-title {
    width: 280px;
    background-color: #DDE0BA;
}

#registration .section-title:lang(en-US) {
    width: 300px;
}

#registration .section-title:lang(pt-BR) {
    width: 240px;
}

#registration .section-title h2 {
    color: #720632;
}

#registration .section-title:after {
    border-top-color: #720632;
}

#registration a:hover,
#registration a:active {
    text-decoration: none;
}

.registration-info:first-of-type {
    width: 280px;
}

.registration-info:first-of-type:lang(pt-BR) {
    width: 320px;
}

.registration-info:last-of-type {
    width: 80%;
    font-size: 0.9rem;
    margin-bottom: 50px;
}

.registration-box {
    position: relative;
    color: #FFFFFF;
    border: 1px solid;
    padding: 20px 30px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.registration-box:hover {
    background-color: #91163C;
    border-color: #91163C;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.registration-box p {
    margin: 0;
}

.registration-box span {
    text-transform: uppercase;
    font-family: "AncillaryRegular";
    font-size: 1.2rem;
}

.registration-deadline {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 40px;
}

.registration-price {
    position: absolute;
    top: 50%;
    right: 50px;
    transform:translate(0, -50%);
    font-family: "AncillaryRegular";
    font-size: 1.2rem;
}

#contact h2 {
    border-bottom: 45px solid #DDE0BA;
    width: 270px;
    font-size: 2.3rem;
    padding-left: 15px;
    margin-bottom: 50px;
    color: rgb(114, 6, 50);
}

#contact h2:lang(en-US) {
    width: 250px;
}

#contact h2:before {
    color: rgb(221, 224, 186);
}

#contact a {
    color: #FFFFFF;
    position: relative;
    top: -90px;
    left: 300px;
}

#contact .content {
    padding: 100px 0 50px 0;
}

.content {
    max-width: 1080px;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

.footer {
    background-color: #1e1e1e;
    border-top: 1px solid #ddd;
    padding: 10px 0 5px 0;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.voltar {
    float: right;
}

.abstracts-view h1 {
    text-align: center;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* ================================================= */
/* ============= Bootstrap overwriting ============= */
/* ================================================= */

.navbar-inverse,
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover {
    background-color: #720632;
    border-color: #720632;
}

.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav li a:hover {
    border-bottom: 1px solid #fff;
}

.navbar-brand {
    font-family: "AncillaryRegular", Arial, sans-serif;
}

.brand {
    font-family: "TypoGroteskThin", Arial, sans-serif;
    color: #FFFFFF;
    position: relative;
    top: -10px;
    left:0;
}

.navbar-brand:before:hover {
    color: #FFFFFF;
}

.breadcrumb {
    margin-bottom: 0;
}

.modal-content {
    background-color: #c1bca4;
    border-radius: 0;
    border: none;
}

.modal-body {
    color: rgb(145, 22, 60);
    font-size: 1rem;
    padding: 70px;
}

.close {
    font-size: 30px;
}




/* ================================================= */
/* ============= Entre 780px e 980px ============= */
/* ================================================= */

@media screen and (min-width: 1367px) {

    .content {
        max-width: 1200px;
    }

    .modal-lg {
        width: 1000px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1280px) {
    .content {
        max-width: 900px;
    }

    .modal-lg {
        width: 1000px;
    }

    #infos img {
        width: 70px;
        padding: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #home-content {
        position: absolute;
        bottom: 10%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);

    }

    #home-content img:first-child {
        max-width: 40%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 50px 25px;
        background-color: rgba(221, 224, 186, 0.7);
    }

    #theme h3 {
        margin-bottom: 30px;
    }

    #theme .col-md-6 p:nth-child(1) {
        padding-top: 0;
    }

    #deadline .box {
        background-color: rgb(221, 224, 186);
        height: 200px;
        width: 150px;
        margin-top: -150px;
        margin-right: 10px;
        padding: 0;
    }

    #deadline .box:first-child {
        margin-top: 0;
    }

    #deadline h6 {
        font-size: 1.2rem
    }

    .content {
        max-width: 680px;
    }

    .modal-lg {
        width: 700px;
    }

    .administrative {
        margin-top: 70px;
    }

    .administrative-list {
    -moz-column-count: 2;
    -moz-column-gap: 60px;
    -webkit-column-count: 2;
    -webkit-column-gap: 60px;
    column-count: 2;
    column-gap: 60px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    }

    .papers-box {
        display: none;
    }

    #infos img {
        width: 60px;
        padding: 20px;
    }

    #infos .link-title {
        margin-top: 110px;
        font-size: 0.9rem;
    }

    .program-box {
        margin-bottom: 50px;
    }

    .col-md-4:last-of-type .program-box {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 767px) {
    #about .section-title {
        width: 180px;
        height: 65px;
    }

    #about .section-title:lang(en-US) {
        width: 190px;
    }

    #about .section-title h2 {
        font-size: 2rem;
    }

    #theme .section-title {
        width: 420px;
        height: 60px;
    }

    #theme .section-title:nth-of-type(2) {
        width: 320px;
        height: 60px;
    }

    #theme .section-title:last-of-type {
        width: 420px;
        height: 80px;
    }

    #theme .section-title:lang(pt-BR) {
        width: 420px;
    }

    #theme .section-title:nth-of-type(2):lang(en-US) {
        width: 360px;
    }

    #theme .section-title:nth-of-type(2):lang(pt-BR) {
        width: 320px;
    }

    #theme .section-title:last-of-type:lang(en-US) {
        width: 420px;
    }

    #theme .section-title h2 {
        font-size: 2rem;
    }

    #theme .section-title h3 {
        font-size: 1.5rem;
    }

    #home-content {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        background: url(../images/home.png);
        background-size: cover;
        width: 100%;
    }

    .img-teste {
        display: none;
    }

    #home-content img:first-child {
        position: static;
        max-width: 100%;
        background-color: rgba(221, 224, 186, 0.7);
    }

    #home-content img:last-child {
        display: none;
    }

    h2:first-of-type:before {
        top: -33px;
        left: 0px;
    }

    #about img {
        display: none;
    }

    #about p,
    #theme p {
        margin-left: 5px;
    }

    #theme h3 {
        margin-bottom: 30px;
    }

    #theme .col-md-6 p:nth-child(1) {
        padding-top: 0;
    }

    .administrative {
        margin-top: 70px;
    }

    .scientific-list,
    .administrative-list {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .papers-box {
        display: none;
    }

    #papers h2 {
        max-width: 400px;
        line-height: 2rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #papers h2:after {
        border-top: 100px solid rgb(216, 213, 182);
        border-left: 45px solid transparent;
        top: 65px;
        left:4px;
    }

    #papers ul > li {
        list-style: square;
    }

    #deadline .box {
        background-color: rgb(221, 224, 186);
        height: 200px;
        width: 210px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #deadline .box:first-child {
        margin-top: -200px;
    }

    #contact a {
        position: static;
    }

    #contact .content {
        padding: 50px 0;
    }

    .link-title {
        margin-top: 130px;
        margin-bottom: 50px;
    }

    .program-box {
        margin-bottom: 50px;
    }

    #deadline .box:first-child {
        margin-top: 0;
    }
}

@media screen and (max-width: 439px) {
    #theme .section-title {
        width: 290px;
        height: 50px;
    }

    #theme .section-title:nth-of-type(2) {
        width: 210px;
        height: 50px;
    }

    #theme .section-title:last-of-type {
        width: 290px;
        height: 65px;
    }

    #theme .section-title:lang(en-US) {
        width: 270px;
    }

    #theme .section-title:lang(pt-BR) {
        width: 300px;
    }

    #theme .section-title:nth-of-type(2):lang(en-US) {
        width: 220px;
    }

    #theme .section-title:nth-of-type(2):lang(pt-BR) {
        width: 200px;
    }

    #theme .section-title:last-of-type:lang(en-US) {
        width: 280px;
    }

    #theme .section-title h2 {
        font-size: 1.4rem;
    }

    #theme .section-title h3 {
        font-size: 1rem;
    }

    #papers h2 {
        font-size: 1.7rem;
        line-height: 1.5rem;
        max-width: 314px;
    }

    #panels .section-title {
        width: 280px;
        height: 50px;
        background-color: #C1BCA4;
    }

    #panels .section-title:lang(en-US) {
        width: 190px;
    }

    #panels .section-title h2 {
        font-size: 1.4rem;
        padding-top: 0;
    }

    .registration-box span {
        font-size: 1rem;
    }

    .registration-price {
        position: relative;
        top: 0;
        left: 0;
        transform: none;

    }

    .modal-body {
        padding: 70px 30px;
    }
}
